.main-container {
    height: 100%;
    background-color: #ff073a;
    display: flex;
    flex-direction: column;
    padding: 0 5px 5px 5px;
}

.main-switch {
    display: flex;
    height: 50px;
}

.main-body {
    flex: 1 1 auto;
    background-color: black;
    padding: 5px 5px 0px 5px;
}
